html,
body,
#root {
  width: 100%;
  height: 100%;
}


:root {
  --bg: #0b0b0b;
  --card: #111;
  --text: #fff;
  --muted: #777;
  --border: #222;
}

.light {
  --bg: #f9fafb;
  --card: #ffffff;
  --text: #111;
  --muted: #555;
  --border: #ddd;
}
